.wrapper-login {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  .login {
    height: 100%;
    display: flex;
    width: 80%;
    align-items: center;

    .formContainer {
      flex: 3;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .caption {
        color: #edac15;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: 1.4px;
      }
      .password-container {
        position: relative;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          padding: 20px;
          padding-right: 40px; // Space for the icon
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        .toggle-icon {
          position: absolute;
          right: 20px;
          cursor: pointer;
          font-size: 18px;
          color: #666;

          &:hover {
            color: #333;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 20px;
          border: 1px solid gray;
          border-radius: 5px;
        }

        .signInBtn {
          display: flex;
          gap: 4px;
          justify-content: space-between;
          .secoundary {
            display: flex;
            align-items: center;
            gap: 6px;
            svg {
              color: #fff;
            }
          }
        }

        span {
          color: rgba(255, 0, 0, 0.591);
        }

        a {
          font-size: 14px;
          color: gray;
          border-bottom: 1px solid gray;
          width: max-content;
        }
      }
    }

    .imgContainer {
      flex: 2;
      //   background-color: #f9f7f6;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
  }
}
