@use "../../break_points.scss" as bp;

.searchBar {
  .type {
    display: flex;
    justify-content: center;
    @include bp.lg {
      justify-content: flex-start;
    }
    button {
      all: unset;
      padding: 16px 36px;
      //   border: 1px solid #999;
      // border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      // &:first-child {
      // border-top-left-radius: 5px;
      // border-right: none;
      // }
      // &:last-child {
      // border-top-right-radius: 5px;
      // border-left: none;
      // }
    }
  }

  form {
    // border: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    // height: 64px;
    // gap: 5px;

    // @include sm {
    //   flex-direction: column;
    //   border: none;
    // }
    @include bp.lg {
      flex-direction: row;
      justify-content: space-between;
    }

    input {
      flex: 1;
      border: 0;
      border-bottom: 1px solid #b9b2a9;
      padding: 20px 10px;
      // width: 200px;
      outline: none;
      transition: border-color 0.3s ease;
      &:last-child {
        border-bottom: none;
      }
      @include bp.lg {
        border: 0;
        border-right: 1px solid #b9b2a9;
      }

      //   @include lg {
      //     padding: 0px 5px;

      //     &:nth-child(2),
      //     &:nth-child(3) {
      //       width: 140px;
      //     }
      //   }
      //   @include md {
      //     width: 200px;
      //     &:nth-child(2),
      //     &:nth-child(3) {
      //       width: 200px;
      //     }
      //   }

      //   @include sm{
      //     width: auto;
      //     &:nth-child(2),
      //     &:nth-child(3) {
      //       width: auto;
      //     }
      //     padding: 20px;
      //     border: 1px solid #999;
      //   }
      &:focus-visible {
        border-color: #edac15;
      }
    }

    .search-btn {
      .searchIcon {
        cursor: pointer;
        background-color: #edac15;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        //   @include sm{
        //     padding: 10px;
        //   }

        svg {
          width: 24px;
          height: 24px;
          color: #fff;
        }
      }
    }
  }
}
