@use "../../break_points.scss" as bp;
.couter-wrapper {
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: 300;
    letter-spacing: -1.6px;
    color: #edac15;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
  }
}
